@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply text-gray-900 dark:text-white;
  }
}

@layer components {
  .input-field {
    @apply mt-1 block w-full rounded-md border-gray-300 shadow-sm 
    focus:border-indigo-500 focus:ring-indigo-500 
    dark:bg-gray-700 dark:border-gray-600 dark:text-white;
  }
}

